body {
    /* Show it's not fixed to the top */
    min-height: 75rem;
    padding-top: 6rem;
}
.navbarts {
    display: block;
    position: fixed;
    top: 0;
    background:#428bca;
    height:50px;
    z-index:3;
    width: 20%;
}
.navbartsr {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    background:#428bca;
    height:50px;
    z-index: 10;
    width: 20%;
}
.menu {
    background:#428bca;
    color:#fff;
    height:50px;
    line-height:30px;
    letter-spacing:1px;
    width:100%;
    position: relative;
    z-index: 5;
}
.menu-padding {
    padding-top:40px;
}
.sticky {
    position:fixed;
    top:0;
}