.invisible {
	display: inline;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.description {
	font-size: 125% !important;
}

.header {
	padding-top: 10px !important;
	padding-bottom: 15px !important;
}