.btn {
	/* Not a responsive design... */
	width: 120px !important;
}

.invisible {
	display: inline;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.description {
	font-size: 125% !important;
}

.header {
	padding-top: 10px !important;
	padding-bottom: 15px !important;
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}